$primary: #472d70;
$primary-faded: #7a6a8a;
$primary-inverted: #ffffff;
$accent: #a143e0;
$bg-color: $primary;
$border-radius: 10px;

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}
